header
{
    width: 100%;
    text-align: center;
}
h1
{
    color: #23ad08;
    font-size: 500%; 
    text-align: center;
    margin-bottom: 20px;
}
h2
{
    color: black;
    font-size: 150%;
    text-align: center;
}
h3 
{
    color: black;
    font-size: 120%;
    text-align: center;
}
p
{
    font-size: 100%;
    text-align: center;
}
button 
{
    margin-top: 20px;
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 15px;
    font-size: large;
}
section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
    background-color: #23ad081f; 
    border: 2px white;
    border-radius: 15px;
    padding: 15px;
}

