<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ultimetrics</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    </head>
    
    <body>
        <header>
            <h1>Ultimetrics</h1>
            <h2>A Comps Project by ...</h2>
        </header>
        <main>
            <br><br>
            <section>
               <p>Welcome to the home page</p> 
            </section>
        </main>
    </body>
</html>
