<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ultimetrics</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    </head>
    
    <body>
        <header>
            <h1>ULTIMETRICS</h1>
            <h2>A Computer Vision Tool for Frisbee Coaches</h2>
        </header>
        <main>
            <section>
               <h3>Welcome to the home page!</h3> 
               <p>Here we can discuss the brief abstract for our project, and maybe describe how to use this tool</p>
               <button>Start analyzing my film!</button>
            </section>
        </main>
        <footer>
            <p>By Ethan Ash, Conor Babcock O'Neill, Jack Huffman, Taylor Kang, Doug Pham, and Hannah Scooler.</p>
        </footer>
    </body>
</html>
